body {
  color: #fff;
  background-color: #0b0b0b;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 5vh;
  padding-right: 35vh;
  padding-left: 35vh;
  padding-bottom: 10vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Poppins", sans-serif;
}
.btn-save {
  font-family: "Poppins", sans-serif;
  background-color: #00f88d;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-save:hover {
  background-color: #00b064;
  color: #fff;
}
.btn-cancel {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-cancel:hover {
  background-color: #d4d4d4;
}
.btn-edit {
  font-family: "Poppins", sans-serif;
  background-color: #3b87fa;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}
.btn-edit:hover {
  background-color: #0374d0;
}
.btn-delete {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #121212;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}
.btn-delete:hover {
  background-color: #d4d4d4;
}
.options {
  text-align: right;
  margin-top: 10px;
}
table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}
table th {
  align-items: start;
  background-color: #00f88d;
  padding: 10px;
  color: #1a1a1a;
  font-weight: bold;
}
table td {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.title {
  text-align: center;
}
.acciones {
  text-align: center;
}
.grupo {
  text-align: center;
  margin-bottom: 5vh;
}
.logo {
  width: 70px;
  height: 70px;
  background-color: #efefef;
  padding: 10px;
  border-radius: 25px;
}

.title {
  font-size: 38px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
